<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onCreateServer($event)"
 /> -->
 <input type="text" class="form-control" [(ngModel)]="serverName"
 />
 <!-- <p>{{ serverName }}</p> -->
 <br />
<button class="btn btn-primary"
 [disabled]="!allowServerStatus"
 (click)="onServerCreate()">Add Server</button>
 <!-- <p>{{ serverCreationStatus }}</p> -->
 
<p *ngIf="serverCreated; else noServer">Server Created Successfully! Name is - {{ serverName }}</p>
<ng-template #noServer>
    <p>No server Created!</p>
</ng-template>
 <app-server *ngFor="let server of servers"></app-server>